21@nmap -p$port -Pn --script=ftp-anon $ip --system-dns | grep "|"@nmap -p$port -Pn --script=ftp-brute $ip --system-dns | grep "|"
22@nmap -p$port -Pn --script=ssh2-enum-algos $ip --system-dns | grep "|"@nmap -p$port -Pn --script=ssh-hostkey $ip --system-dns | grep "|"
23@nmap -p$port -Pn --script=telnet-encryption $ip --system-dns | grep "|"
25@nmap -p$port -Pn --script=smtp-commands $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smtp-enum-users $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smtp-open-relay $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smtp-brute $ip --system-dns | grep "|"
53@nmap -p$port -Pn -sU --script=dns-check-zone $ip --system-dns | grep "|"@nmap -p$port -Pn -sU --script=dns-service-discovery $ip --system-dns | grep "|"@nmap -p$port -Pn -sU --script=dns-srv-enum $ip --system-dns | grep "|"@nmap -p$port -Pn -sU --script=dns-nsec3-enum $ip --system-dns | grep "|"@nmap -p$port -Pn -sU --script=dns-nsec-enum $ip --system-dns | grep "|"
69@nmap -p$port -Pn -sU --script=tftp-enum $ip --system-dns | grep "|"
79@nmap -p$port -Pn --script=finger $ip --system-dns | grep "|"
80@nmap -p$port -Pn --script=http-enum $ip --system-dns | grep "|"@nmap -p$port -Pn --script=http-headers $ip --system-dns | grep "|"@nmap -p$port -Pn --script=http-methods $ip --system-dns | grep "|"@nmap -p$port -Pn --script=http-slowloris-check $ip --system-dns | grep "|"@nikto -h $ip | grep "+"
110@nmap -p$port -Pn --script=pop3-brute $ip --system-dns | grep "|"
111@nmap -p$port -Pn --script=rpcinfo $ip --system-dns | grep "|"@rpcinfo -p $ip
123@ntpdc -c monlist $ip@nmap -p$port -Pn -sU --script=ntp-monlist $ip --system-dns | grep "|"@nmap -p$port -Pn -sU --script=ntp-info $ip --system-dns | grep "|"@ntpdc -c sysinfo $ip@ntpq -c "pstatus `ntpq -c associations $ip | sed -n 4p | cut -d " " -f4`" $ip@ntpq -c associations $ip@ntpq -c peers $ip@ntpq -c opeers $ip@ntpq -c version $ip
135@nbtscan $ip -v@nmap -p$port -Pn --script=smb-enum-shares $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-enum-users $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-system-info $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-os-discovery $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-security-mode $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smbv2-enabled $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-brute $ip --system-dns | grep "|"
137@nbtscan $ip -v@nmap -p$port -Pn --script=smb-enum-shares $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-enum-users $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-system-info $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-os-discovery $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-security-mode $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smbv2-enabled $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-brute $ip --system-dns | grep "|"
138@nbtscan $ip -v@nmap -p$port -Pn --script=smb-enum-shares $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-enum-users $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-system-info $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-os-discovery $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-security-mode $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smbv2-enabled $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-brute $ip --system-dns | grep "|"
139@nbtscan $ip -v@nmap -p$port -Pn --script=smb-enum-shares $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-enum-users $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-system-info $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-os-discovery $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-security-mode $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smbv2-enabled $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-brute $ip --system-dns | grep "|"
161@nmap -p$port -Pn -sU --script=snmp-interfaces $ip --system-dns | grep "|"@nmap -p$port -Pn -sU --script=snmp-netstat $ip --system-dns | grep "|"@nmap -p$port -Pn -sU --script=snmp-processes $ip --system-dns | grep "|"@nmap -p$port -Pn -sU --script=snmp-brute $ip --system-dns | grep "|"
389@nmap -p$port -Pn --script=ldap-rootdse $ip --system-dns | grep "|"@nmap -p$port -Pn --script=ldap-search $ip --system-dns | grep "|" | grep "uniqueMember:" | head
443@nmap -p$port -Pn --script=ssl-cert $ip --system-dns | grep "|"@nmap -p$port -Pn --script=ssl-date $ip --system-dns | grep "|"@nmap -p$port -Pn --script=ssl-enum-ciphers $ip --system-dns | grep "|"@nmap -p$port -Pn --script=ssl-heartbleed $ip --system-dns | grep "|"
445@nbtscan $ip -v@nmap -p$port -Pn --script=smb-enum-shares $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-enum-users $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-system-info $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-os-discovery $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-security-mode $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smbv2-enabled $ip --system-dns | grep "|"@nmap -p$port -Pn --script=smb-brute $ip --system-dns | grep "|"
500@nmap -p$port -Pn -sU --script=ike-version $ip --system-dns | grep "|"@ike-scan $ip
502@nmap -p$port -Pn --script=modbus-discover $ip --system-dns | grep "|"
513@rlogin -oBatchMode=yes $ip --system-dns | grep "|"@nmap -p$port -Pn --script=rlogin-brute $ip --system-dns | grep "|"
514@rsh -oBatchMode=yes $ip --system-dns | grep "|"@rlogin -l root $ip
1433@nmap -p$port -Pn --script=ms-sql-info $ip --system-dns | grep "|"@nmap -p$port -Pn --script=ms-sql-brute $ip --system-dns | grep "|"
1434@nmap -p$port -Pn --script=ms-sql-info $ip --system-dns | grep "|"@nmap -p$port -Pn --script=ms-sql-brute $ip --system-dns | grep "|"
1494@nmap -p$port -Pn --script=citrix-enum-apps $ip --system-dns | grep "|"@nmap -p$port -Pn --script=citrix-enum-servers $ip --system-dns | grep "|"
1521@nmap -p$port -Pn --script=oracle-enum-users $ip --system-dns | grep "|"@nmap -p$port -Pn --script=oracle-brute $ip --system-dns | grep "|"@sh /usr/share/oscanner/oscanner.sh -s $ip
2049@nmap -p$port -Pn --script=nfs-ls $ip --system-dns | grep "|"@nmap -p$port -Pn --script=nfs-statfs $ip --system-dns | grep "|"@showmount -e $ip
3306@nmap -p$port -Pn --script=mysql-brute $ip --system-dns | grep "|"@nmap -p$port -Pn --script=mysql-enum $ip --system-dns | grep "|"@nmap -p$port -Pn --script=mysql-info $ip --system-dns | grep "|"@nmap -p$port -Pn --script=mysql-users $ip --system-dns | grep "|"@nmap -p$port -Pn --script=mysql-users $ip --system-dns | grep "|"
3389@nmap -p$port -Pn --script=rdp-enum-encryption $ip --system-dns | grep "|"@nmap -p$port -Pn --script=rdp-vuln-ms12-020 $ip --system-dns | grep "|"
5060@nmap -p$port -Pn --script=sip-enum-users $ip --system-dns | grep "|"@nmap -p$port -Pn --script=sip-methods $ip --system-dns | grep "|"@nmap -p$port -Pn -sU --script=sip-enum-users $ip --system-dns | grep "|"@nmap -p$port -Pn -sU --script=sip-methods $ip --system-dns | grep "|"
5432@nmap -p$port -Pn --script=pgsql-brute $ip --system-dns | grep "|"
5900@nmap -p$port -Pn --script=vnc-info $ip --system-dns | grep "|"
5901@nmap -p$port -Pn --script=vnc-info $ip --system-dns | grep "|"
5902@nmap -p$port -Pn --script=vnc-info $ip --system-dns | grep "|"
6000@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6001@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6002@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6003@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6004@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6005@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6006@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6007@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6008@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6009@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6010@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6011@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6012@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6013@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6014@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6015@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6016@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6017@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6018@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6019@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6020@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6021@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6022@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6023@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6024@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6025@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6026@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6027@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6028@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6029@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6030@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6031@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6032@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6033@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6034@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6035@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6036@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6037@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6038@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6039@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6040@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6041@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6042@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6043@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6044@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6045@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6046@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6047@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6048@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6049@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6050@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6051@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6052@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6053@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6054@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6055@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6056@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6057@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6058@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6059@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6060@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6061@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6062@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
6063@nmap -p$port -Pn --script=x11-access $ip --system-dns | grep "|"
8080@nmap -p$port -Pn --script=http-enum $ip --system-dns | grep "|"@nmap -p$port -Pn --script=http-headers $ip --system-dns | grep "|"@nmap -p$port -Pn --script=http-methods $ip --system-dns | grep "|"@nmap -p$port -Pn --script=http-slowloris-check $ip --system-dns | grep "|"@nikto -h $ip | grep "+"
8834@nmap -p$port -Pn --script=nessus-brute $ip --system-dns | grep "|"@nmap -p$port -Pn --script=nessus-xmlrpc-brute $ip --system-dns | grep "|"
10000@nmap -p$port -Pn --script=ndmp-fs-info $ip --system-dns | grep "|"@nmap -p$port -Pn --script=ndmp-version $ip --system-dns | grep "|"
27017@nmap -p$port -Pn --script=mongodb-brute $ip --system-dns | grep "|"
27018@nmap -p$port -Pn --script=mongodb-brute $ip --system-dns | grep "|"
